<h1 id="section-{{name}}" class="swagger-summary-tag" data-traverse-target="section-{{name}}">{{name}}</h1>
<div class="doc-row">
{{#if description}}
    <div class="doc-copy">
        {{md description}}
    </div>
{{/if}}
{{#if example}}
    <div class="doc-examples">
        <section>
            {{md example}}
        </section>
    </div>
{{/if}}
</div>